*.csv
*.h5
*.pkl
*.keras
__pycache__/
.ipynb_checkpoints/
data/processed/clean_merged.csv
data/processed/clean_merged.csv
.streamlit/secrets.toml

# Large CSV Files
data/clean_merged.csv
data/feature_store.csv
data/train.csv
